<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(loginbean==undefined){ %> 
      <a href="./users/login" >
        <input type="button" class="btn btn-success"value="登录/注册"/> 
      </a>
    <% }else{ %> 
      你好<%=loginbean.nicheng%>
      <input type="button" class="btn btn-success" value="注销" onClick="javascript:location.href='/logout'"/> </br>
      <input type="button" class="btn btn-success" value="发帖" onclick="javascript:location.href='/question/ask'"/>
    <% } %> 
    </br>
    </br>
    <h1  align="center">帖子列表</h1>
    <table align="center">
      <tr>
        <td align="center">
          帖子id
        &nbsp
        &nbsp
        &nbsp
        &nbsp
        </td>
        
        <td align="center">
          帖子主题
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td><td></td>

      </tr>
      <% rs.forEach(function(row){ %>
        <tr>
          <td align="center">
            <%= row['tid'] %>
          </td>
          &nbsp
          &nbsp
          &nbsp
          &nbsp
          <td align="center">
            <a href="/question/detail?tid=<%= row['tid'] %>" target="_blank"><%= row['title'] %></a>
          </td>
        </tr>
      <% }) %>
      <tr>
        <td align="center">
          总共<%=count%>记录
          第<%=page%>/<%=countPage%>页，
          
        </td>
        <td>
          <% if (page!=1) { %>
            <a href="/?page=1">首页</a>&nbsp
            <a href="/?page=<%=(page-1)%>">上一页</a>&nbsp
          <% } 
          if (page!=countPage) { %>
          <a href="/?page=<%=(page+1)%>">下一页</a>&nbsp
          <a href="/?page=<%=countPage%>">尾页</a>&nbsp
          <% } %>
        </td>
      </tr>
      
    </table>
  </body>
</html>
