<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="baidu-site-verification" content="WakpMKlyUl" />
    <title>Zippping</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\nav.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\home.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png"> 
    <body style="margin: 0;padding: 0;background-color: #F2F2F2">
        <% if(loginbean==undefined){ %> 
        <div class="top1">
            <div style="width: 1000px;height: 70px;margin: 0 auto;">
                <img src="/images/logo_S.gif" style="
                width: 195px;
                height: 50px;
                padding-top: 10px;
                padding-left: 30px">

                <div class="inside" style="margin-right: 20px;border:none;color: #434343">
                    <a href="./users/login" style="color: #434343">登录</a> / 
                    <a href="./users/register" style="color: #434343">注册</a>
                </div>
                <div class="inside">
                    <a href="/employment/emy">我要发帖</a>
                </div>
        
                <div class="inside">
                    <a href="#">我的收藏</a>
                </div>
            </div>
        </div>
        <% }else{ %> 
        <div class="top1">
            <div style="width: 1000px;height: 70px;margin: 0 auto;">
                <img src="/images/logo_S.gif" style="
                width: 195px;
                height: 50px;
                padding-top: 10px;
                padding-left: 30px">
        
                <div class="inside3" style="margin-right: 20px;border:none;color: #434343">
                    <a href="/logout">退出</a>
                </div>
        
                <div class="inside3"><a href="/employment/emy">发帖</a></div>
                <div class="inside3"><a href="/employment/eplist">已发</a></div>
                <div class="inside3"><a href="/employment/collection/list">收藏</a></div>
                <div class="inside3"><a href="/administrator/data">数据</a></div>
                <div class="inside3"><a href="#">管理</a></div>
                <div class="inside3"><a href="/administrator/examine/wait">审核</a></div>
                <div class="inside3"><a href="#" style="color: #6c2393;"><%=loginbean.nicheng%></a></div>
            </div>
        </div>
        <% } %> 
        <div class="top2">
            <div style="width: 1000px;height: 24px;margin: 0 auto;">
                <ul>
                    <li style="padding-left: 176px"><a href="/">首页</a></li>
                    <li><a href="/administrator/examine/wait?business=IT互联网">IT互联网</a></li>
                    <li><a href="/administrator/examine/wait?business=金融">金融</a></li>
                    <li><a href="/administrator/examine/wait?business=广告">广告</a></li>
                    <li><a href="/administrator/examine/wait?business=房地产">房地产</a></li>
                    <li><a href="/administrator/examine/wait?business=消费品">消费品</a></li>
                    <li><a href="/administrator/examine/wait?business=制造业">制造业</a></li>
                    <li><a href="/administrator/examine/wait?business=其他">其他</a></li>
                    <li style="float: right;margin-right: 20px"><a href="#">帮助</a></li>
                </ul>
            </div>
        </div>
<div style="background-color: #fff;width: 1000px;height: 680px;margin: 0 auto;">

	<table style="padding-left: 38px;padding-top: 8px;padding-bottom: 3px;">
			<tr>
				<td><a href="/administrator/examine/wait" class="exam-checked">等待审核</a></td>
				<td><a href="/administrator/examine/pass" class="exam-unchecked">通过审核</a></td>
				<td><a href="/administrator/examine/fail" class="exam-unchecked">审核失败</a></td>
			</tr>
    </table>

	<div>
    <% if(rs!=undefined){ 
        rs.forEach(function(row){ %>    
        <table style="padding-left: 50px;">
        
            <tr>
                <td class="text-theme">
                    <a class="home-title" href="/administrator/examine/wait/detail?&tid=<%= row['tid']%>"><%= row['title'] %></a>
                </td>
                <td class="text-type"><%= row['type']%></td>
                <td class="text-time"><%= row['year']%>/<%= row['month']%>/<%= row['day']%> <%= row['hour']%>:<%= row['minute']%></td>
                <td class="text-place"><%= row['place']%></td>
            </tr>
            
        
        </table>

        <hr class="hr1">
         <% })
    } %>
        <table style="padding-left: 50px;font-size:12px;" align="center">
            <tr>
            <%if(count!=0){%>
                <% if(business==undefined){ %>
                    <td align="center" style="font-size:12px;color:#515151">
                    总共<%=count%>记录
                    第<%=page%>/<%=countPage%>页&nbsp
                    
                    </td>
                    <td>
                    <% if (page!=1) { %>
                        <a href="/administrator/examine/wait?page=1">首页</a>&nbsp
                        <a href="/administrator/examine/wait?page=<%=(page-1)%>">上一页</a>&nbsp
                    <% } 
                    if (page!=countPage) { %>
                    <a href="/administrator/examine/wait?page=<%=(page+1)%>">下一页</a>&nbsp
                    <a href="/administrator/examine/wait?page=<%=countPage%>">尾页</a>&nbsp
                    <% } %>
                    </td>
                <% }else{%>
                    <td align="center" style="font-size:12px;color:#515151">
                    总共<%=count%>记录
                    第<%=page%>/<%=countPage%>页&nbsp
                    
                    </td>
                    <td>
                    <% if (page!=1) { %>
                        <a href="/administrator/examine/wait?page=1&business=<%=business%>">首页</a>&nbsp
                        <a href="/administrator/examine/wait?page=<%=(page-1)%>&business=<%=business%>">上一页</a>&nbsp
                    <% } 
                    if (page!=countPage) { %>
                    <a href="/administrator/examine/wait?page=<%=(page+1)%>&business=<%=business%>">下一页</a>&nbsp
                    <a href="/administrator/examine/wait?page=<%=countPage%>&business=<%=business%>">尾页</a>&nbsp
                    <% } %>
                    </td>
                <% }%>
            <%}else{%>
                <td align="center" style="font-size:12px;color:#515151">
                    总共<%=count%>记录
                </td>
            <%}%>
            </tr>
        </table>

        <hr class="hr1">

	</div>
	 
</div>
<script src="/javascripts/no.js"></script>
<script src="http://lib.sinaapp.com/js/jquery/3.1.0/jquery-3.1.0.slim.min.js"></script>
</body>

</html>